*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.container-fluid{
    
   margin: 0px;
    padding: 0px;
     background-color:whitesmoke;
     position: relative;
     /* background-position: fixed; */
     /* background:linear-gradient(to top, #A72424 50%, transparent 50%);
-webkit-transition: background-position 300ms, color 300ms ease, border-color 300ms ease; */
     -webkit-transition:0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;


}
.color1{
    position: fixed;
    /* position: relative; */
    /* position: absolute; */
    background-color:black;
    /* background-position: fixed; */
    height:180vh;
    width: 100vw;
     animation: fill 1.5s ease-out;
    
}


@keyframes fill{
    from{
        top: 100vh;
        border-radius: 80%;
        /* transform: rotate(20deg); */

         
    }
    to{
        top: -50vh;
        /* transform: translateY(0vh); */
        border-radius: 10%;
         /* transform: rotate(0deg);       */
    }
}


.circular-text{
    
    position: fixed;
    top: 25%;
    left:20vw;
    /* transform: translate(-50%,-50%); */
    color: rgba(255, 255, 255, 0.146);
    font-size: 23px;
    font-weight: bolder;
    font-family: "Monument Extended";
     -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
}
.rotated{
    display: inline;
    color: black;
}
  

/* .arrow{
    position:fixed;
    top: 56%;
    left: 20vw;
    transform: translate(-50%,-50%);
    -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
 
}
ion-icon{
    font-size: 100px;
    color:rgba(102, 11, 11, 0.345);
} */



.intro{
    display: flex;
    flex-wrap: nowrap;
   
    position: relative;
   /* background-color: white; */
    height:100vh ;
    width: 100%;
    /* overflow: hidden; */
    
}

.breadcrumb{
    background-color:rgba(0, 0, 255, 0);
    position: fixed;
    margin-top: 5px;
}
.name{
    /* position: relative; */
color: #302f2f;
   font-size: 15px;
   letter-spacing: 5px;
   /* font-weight: bold; */
  font-family:  sans-serif;
  margin-left: 5vw;
  /* background-color: red; */
  /* text-shadow: 2px 2px 1px black ; */
  -webkit-transition: 0.4s ease-out;
  -moz-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
  -ms-transition: 0.4s ease-out;
  /* z-index: 1; */
}

.letter{
    /* position: relative; */
  overflow: hidden;
     display: inline-flex;
    
   /* background-color: red; */
   
}


.content{
    display:inline-block;
   position: absolute;
   
   top: 38vh;
   left:28vw;
   /* background-color: royalblue; */
   
   
}


#name2{
    -webkit-transition: 0.4s ease-out;
  -moz-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
  -ms-transition: 0.4s ease-out;
  z-index: 1;
  
}



.description{
    
   
    font-size: 1.3vw;
    color:black;
    /* background-color: rosybrown; */
    letter-spacing: 1px;
    line-height: 5vh;
    transition: 0.5s ease-out;
     font-family:Monument Extended Light,Helvetica Neue,Helvetica,Arial,sans-serif;
  
}

/* .zoom-In{
    left:10vw;

    font-size:1.2vw;
    transition: 0.5s ease-out;
} */

.prasad{
    color: #2546F5 ;

}
.role{
    color: #2546F5;
}


#projects{
   position: relative;
    /* background-color:black; */
    height: 100vh;
    width: 100vw;
    -webkit-transition: 0.4s ease-out;
  -moz-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
  -ms-transition: 0.4s ease-out;
 animation: fill 2s ease-in-out;
    
}


#list{
    position: relative;
    display: inline-block;
    top: 20vh;
    left: 60vw;
     font-size: 5vw;
     height: 70vh;
    color: rgba(248, 245, 245, 0.493);
    font-family:Monument Extended,Helvetica Neue,Helvetica,Arial,sans-serif;
    overflow: scroll;
    line-height: 60px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
     



}

.child:hover{
   
       /* color: #2546F5; */
       -webkit-text-fill-color: rgb(250, 248, 248);
      

}

@media screen and (max-width:1000px){
  
  .name{
      font-size:15px ;
  }
  .description{
      font-size: 1.2vw;
  }
}






